<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_MuNPA8xng26nBpLDvx7Lg0M8jgz3OPs</string>
	<key>GCM_SENDER_ID</key>
	<string>281229561594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odadee.project.odadee</string>
	<key>PROJECT_ID</key>
	<string>odadee-7b689</string>
	<key>STORAGE_BUCKET</key>
	<string>odadee-7b689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281229561594:ios:e6cd356bcdb11633218343</string>
</dict>
</plist>